%h3 Pages
%ul
  %li= link_to "Clock", action: "clock"
  %li= link_to "Temperature converter", action: "temperature_converter", controller: "units"
  %li= link_to "BMI calculator", action: "bmi_calculator", controller: "units"
  %li= link_to "TODO list", action: "todo_list", controller: "todo"
%h3 HOI4
%ul
  %li= link_to "Fleet Designer", action: "fleet_designer", controller: "hoi4"
  %li= link_to "Equipment Designer", action: "equipment_designer", controller: "hoi4"
